/* App.css */

/* Layout principal com Flexbox */
.App {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  transition: margin-left 0.3s ease;
}

/* Sidebar aberta */
.main-content.with-sidebar {
  margin-left: 240px;
}

/* Sidebar fechada */
.main-content.full-width {
  margin-left: 30px;
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

footer {
  margin-top: auto;
  padding: 20px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #20232a;
  padding: 20px;
  z-index: 10;
}


/* Estilos do logo, se aplicável */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
